
/*#pimcore_panel_toolbar {
    background: red !important;
}*/
#pimcore_menu_product_importer{
    background-image: url(/pimcore/static6/img/flat-color-icons/feed_in.svg) !important;
}

.pimcore_icon_importer
{
    background-image: url(/pimcore/static6/img/flat-color-icons/feed_in.svg) !important;
}